.root{
	-fx-background-image:url("specialParent/PVE.png");
	-fx-background-size:stretch stretch; 
}
#Matrix{
	-fx-background-image:url("../Graphics/Matrix/board.png");
	-fx-background-size:stretch stretch 
}
#pool{
	-fx-background-image:url("../Graphics/Other/Pool/poolBackground.png");
	-fx-background-size:stretch stretch
}
#number{
	-fx-background-image:url("../Graphics/Other/Pool/numberBackground.png");
	-fx-background-size:stretch stretch
}