.root{
	-fx-background-image:url("../Graphics/Scene/Normal.png");
	-fx-background-size:stretch stretch; 
}
#Matrix{
	-fx-background-image:url("../Graphics/Matrix/board.png");
	-fx-background-size:stretch stretch 
}
#showFlash{
	-fx-background-image:url("../Graphics/Battle/background.png");
	-fx-background-size:stretch stretch
}
@font-face{
	src:url('字体管家青葱体.ttf');
}
Label{
	-fx-font-family:"字体管家青葱";

 	-fx-text-fill:#00ffff ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 

}
#lineNumber{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:#ffff00;
  	-fx-font-size:19px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
		
}