/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image: url("specialParent/background.png"); 
    -fx-background-size:stretch stretch;
}
#ButtonBox{
	-fx-background-image: url("specialParent/ButtonFrame.png");
	-fx-background-position:top  ;
	-fx-background-size:stretch stretch;
}
