/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root{
	-fx-background-image: url("specialParent/background.png"); 
    -fx-background-size:stretch stretch;
}
#ButtonBox{
	-fx-background-image: url("specialParent/ButtonFrame.png");
	-fx-background-position:top  ;
	-fx-background-size:stretch stretch;
}

Text{
	-fx-font-size:32px;
	-fx-font-family: "MyFont";
	-fx-fill: #001eff;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}
@font-face{
	font-family:MyFont;
	src: url('MyFont.ttf');
}
@font-face{
	src:url('字体管家青葱体.ttf');
}
Label{
	-fx-font-family:"字体管家青葱";

 	-fx-text-fill:blue ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 

}
#SkillLabel{
	-fx-font-family:"字体管家青葱";

 	-fx-text-fill:red  ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
	
}
#PlayerIntroduction0{
	-fx-font-family:"字体管家青葱";

 	-fx-text-fill:blue   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
	
}
#PlayerIntroduction1{
	-fx-font-family:"字体管家青葱";

 	-fx-text-fill:red  ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
	
}
#PlayerIntroduction2{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:yellow   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
	
}
#SkillIntroduction0{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:green   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}
#SkillIntroduction1{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill: blue  ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}

#SkillIntroduction2{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:blue   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}

#SkillIntroduction3{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:red   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}

#SkillIntroduction4{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:red   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}
#SkillIntroduction5{
	-fx-font-family:"字体管家青葱";
 	-fx-text-fill:red   ;
  	-fx-font-size:32px;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}
#info{
	-fx-font-size:24px;
	-fx-font-family:"字体管家青葱";
	-fx-text-fill:bisque ;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2);
}
#Price{
	-fx-font-size:26px;
	-fx-font-family: "Arial Black";
	-fx-text-fill:red  ;
	-fx-font-weight:bold;
	-fx-effect:innershadow(three-pass-box,rgba(0,0,0,0,8),6,0.0,0,2); 
}